.nav {
  height: 40px;
  background-color: #303030;
}

.map {
  height: 100vw;
  height: 100vh;
}

.list-view {
  background-color: #1b1f22;
  height: 100%;
  overflow-y: scroll;
  position: fixed;
  top: 0px;
  width: 230px;
}

.menu-icon {
  width: 20px;
  height: 12px;
  position: relative;
  top: 13px;
  left: 12px;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 100%;
  height: 2px;
  background-color: #1a8cff;

  margin-bottom: 3px;
}



.title {
  color: #e4eaec;
  font-size: 25px;
  font-family: fantasy;
  text-align: center;
}

.input {
  width: 100%;
  height: 30px;
}

.li {
  margin-top: 40px;
  color: hsla(0,0%,100%,.5);
  font-family: fantasy;
}

.li-on-hover {
  margin-top: 40px;
  color: white;
  font-family: fantasy;
  cursor: pointer;
}

li:first-child {
    margin-top:0;
}
